In [3]:
# This is a comment line

name = "Clarusway is a good bootcamp " \
    "Henry"
print(name)

Clarusway is a good bootcamp Henry

In [5]:
name = "Henry's"
last_name = "Forester"

full_name = name + " " + last_name
print(full_name)

Henry Forester

In [12]:
a = "Hello World!"
b = a[:]
print(b)
print(a[::-1])

Hello World!
!dlroW olleH

In [16]:
c = "  Hello World!"
c.rstrip("!")

'  Hello World'

In [21]:
num = 7**2
num

49

In [23]:
b1 = 5 == '5'
b1

False

In [28]:
['1'] or False

['1']

In [36]:
list1 = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]
list1.append("Apple")
list1

['Apple', 1, 3.5, True, [1, 3], {'Ready': 'yes'}, 'Apple']

In [37]:
list2 = [1, 2, 3]
list1.extend(list2)
list1

['Apple', 1, 3.5, True, [1, 3], {'Ready': 'yes'}, 'Apple', 1, 2, 3]

In [38]:
list2.insert(1, 5)
list2

[1, 5, 2, 3]

In [48]:
list2.reverse()
print(list2)

[1, 5, 2, 3]

In [50]:
a = reversed(list2)
print(a)

<list_reverseiterator object at 0x105d17430>

In [51]:
a = ['ali', 2, [1,2], 7]
a[2][1]

2

In [54]:
thistuple = "apple",
print(type(thistuple))

<class 'tuple'>

In [61]:
this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = this_dict.get("mode", 0)
x

0

In [63]:
for key, value in this_dict.items():

dict_values(['Ford', 'Mustang', 1964])

In [65]:
a1 = {"apple", "banana", "cherry"}
a2 = {"apple"}
a1.intersection_update(a2)
a1

{'apple'}

In [68]:
list11 = []
if list11:
    print("The list is not empty!")
else:
    print("The list is empty!")

The list is empty!

In [69]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [72]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        continue
    print(fruit)

apple
cherry

In [73]:
adjs = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for adj in adjs:
  for fruit in fruits:
    print(adj, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [75]:
for x in [0, 1, 2]:
    pass

In [76]:
def my_function():
    return "Hello from a function"

my_function()

'Hello from a function'

In [84]:
def my_function(name, last_name):
    return "Hello {} {} how are you?".format(name, last_name)

my_function(last_name="Smith", name="John")

'Hello John Smith how are you?'

In [83]:
def my_function(*args):
    return "The youngest child is " + args[2]

my_function("Hans", "Angel", "Lilly", "Henry")

'The youngest child is Lilly'

In [85]:
def my_function(**kwargs):
    return "The youngest child is " + kwargs["child1"]

my_function(child1="Hans", child2="Angel", child3="Lilly", child4="Henry")

'The youngest child is Hans'

In [87]:
def my_function(*args, **kwargs):
    return "The youngest child is " + kwargs["child1"] + " and " + args[1] + " years old."

my_function("1", "2", "3", child1="Hans", child2="Angel")

'The youngest child is Hans and 2 years old.'

In [104]:
import time

def elapsed_time(func):
    def wrapper():
        t1 = time.time()
        func()
        t2 = time.time()
        print(f'Elapsed time: {(t2 - t1) * 1000} ms')
    return wrapper

@elapsed_time
def big_sum():
    num_list = []
    for num in (range(0, 1000000)):
        num_list.append(num)
    print(f'Big sum: {sum(num_list)}')

big_sum()

Big sum: 499999500000
Elapsed time: 63.146114349365234 ms

In [108]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner


@smart_divide
def divide(a, b):
    print(a/b)
    
divide(1, 0)

I am going to divide 1 and 0
Whoops! cannot divide

In [113]:
# try:
print(xyz)
# except:
#   print("An exception occurred")

NameError: name 'xyz' is not defined